head {
	/*font-size: 1em;
	margin: 20px*/
	float: left;
	width: 100%;
}
body {
	/*font-size: 1em;
	margin: 20px*/
	float: left;
	width: 100%;
}
p {
	/*font-size: 1em;
	margin: 20px*/
	float: left;
	width: 100%;
}

/*div label{
	width: 80%;
}*/
