h1 {
	font-family: arial;
	font-size: 4em;
	border-bottom: 1px solid #888;
}

body {
	font-family: avenir;
	font-size: .5em;
	font-weight: bold;
}

input {
	
	color: white;
	background-color: #4d4dff;
}

p {
	background-color: lightgrey;
	width: 100%;
  	padding: 1em 0;
  	border: 1px solid rgba(128, 128, 128, .5);
}

