h1 {
	font-family: arial;
	font-size: 4em;
	border-bottom: 1px solid #888;
}

body {
	width: 100%;
	font-family: avenir;
	font-size: .5em;
	font-weight: bold;
}

#submit {
	color: white;
	background-color: #0080ff;
	text-decoration: none;
	border: none;
	border-radius: 5px;
}

p {
	background-color: lightgrey;
	width: 100%;
  	padding: 1em 0;
  	border: 1px solid rgba(128, 128, 128, .5);
  	line-height: normral;
  	text-align: justify;

}

div {
    display: inline-block;
}
div label {
	display: block;
}
* {
	background-color: #fff;
}
